<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>VARIABLES.HTML</h1>
    This is example how to use Django Template Language to fill in dynamic shit on the web page:
    <p> First Name = {{first_name | lower }} </p>
    <p> Last Name = {{last_name | upper}} </p>
    <p> A list = {{my_list}}</p>
    <p> An element of the list = {{my_list.1}}</p>
    <p> A dictionary = {{my_dictionary}}</p>
    <p> An element of a dictionary = {{my_dictionary.inside_key}}</p>
    <p> A comment inside Jinja = {# This is a comment #}</p>

</body>
</html>